<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/images/favicond.ico" type="image/x-icon" />
		<title>My TodoList</title>
	</head>
	<body>
		<div>
			<select name="select" onchange="if (this.value) window.location.href=this.value">
				<option>Seleccione una lista</option>	
		        <% alltodos.forEach(function(list){ %>
           
             <div class="timeline-time">
             
              <option  value="<%= list.name %>"> <%= list.name %> </option> 
              
             </div>
          
            	<% }) %>		

			</select>
		
		</div>
	              
		<div class="box" id="heading">
			<h1><%= listTitle %></h1>
		</div>

		<div class="box">
			<% newListItems.forEach(function(item){ %>
			<form action="/delete" method="post">
				<div class="item">
					<input
						type="checkbox"
						name="checkbox"
						value="<%= item._id%>"
						onChange="this.form.submit()"
					>
					<p><%=item.name%></p>
				</div>
				<input type="hidden" name="listNames" value="<%=listTitle%>"></input>
			</form>
			<% }) %>
		</div>

		<form class="item" action="/" method="post">
			<input type="text" name="newItem" autocomplete="off">

			<button type="submit" name="list" value="<%= listTitle %>">+</button>
		</form>
	</body>
</html>
